TRAEFIK_VERSION=v3.3
ACME_EMAIL=your-email@example.com
TRAEFIK_URL=traefik.example.com

TRAEFIK_DASHBOARD_AUTH=REPLACE_WITH_USERNAME_AND_HASHED_PASSWORD
# Generate with htpasswd, then escape dollar signs for Docker Compose.
# Use:
# htpasswd -nbB admin your-password
# This will generate a hash like this: admin:$2y$...
# Escape dollar signs for DOcker Compose: admin:$$2y$$...
